@tailwind base;
@tailwind components;
@tailwind utilities;


footer {
  bottom: 0;
  left: 0;
  width: 100%;
  
}

.expanded {
  height: 678px;

}

.taskb {
  grid-template-areas: "title date num"
  "describ describ describ"
  "button button button";

}

#title {
  grid-area: title;
}
#task-num {
  grid-area: num;
  justify-self: end;
}
#date {
  grid-area: date;
  place-self:center start ;
}

#description {
  grid-area: describ;
}

.buttons {
  grid-area: button;
}